.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide.title h2 {
  font-size: 1.7em;
}

.slide h2.shout {
  font-size: 1.7em;
  line-height: 1.5;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}
